@model PaginatedViewModel<ToolReservation>

@{
    ViewData["Title"] = "Tool reservations";
}

<h1>Tool reservations</h1>

<p>
    <button class="btn btn-primary" id="createReservationBtn">Create new reservation</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Client name</th>
            <th>Tool</th>
            <th>Reservation dates</th>
            <th>Total rent price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ClientFirstName @item.ClientSecondName</td>
                <td>@item.Tool.ToolType</td>
                <td>@item.DateReservationFrom - @item.DateReservationTo</td>
                <td>@item.TotalRentPrice</td>
                <td>
                    <!-- Edit  -->
                    <button class="btn btn-info editReservationBtn"
                            data-id="@item.ID"
                            data-clientfirstname="@item.ClientFirstName"
                            data-clientsecondname="@item.ClientSecondName"
                            data-datereservationfrom="@item.DateReservationFrom.ToString("yyyy-MM-dd")"
                            data-datereservationto="@item.DateReservationTo.ToString("yyyy-MM-dd")"
                            data-toolid="@item.ToolID">
                        Edit
                    </button>
                    <button class="btn btn-danger" onclick="deleteReservation(@item.ID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination -->
<div>
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "ToolReservations", new { pageNumber = Model.CurrentPage - 1, pageSize = Model.PageSize })">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "ToolReservations", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
            </li>
        }
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "ToolReservations", new { pageNumber = Model.CurrentPage + 1, pageSize = Model.PageSize })">Next</a>
        </li>
    </ul>
</div>

<!-- Popup  -->
<div class="modal fade" id="toolReservationModal" tabindex="-1" role="dialog" aria-labelledby="toolReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="toolReservationModalLabel">Create tool reservation</h5>
            </div>
            <div class="modal-body">
                <form id="toolReservationForm">
                    <input type="hidden" id="ReservationID" name="ID" /> 

                    <div class="form-group">
                        <label for="ClientFirstName">Client first name</label>
                        <input type="text" class="form-control" id="ClientFirstName" name="ClientFirstName" required />
                    </div>
                    <div class="form-group">
                        <label for="ClientSecondName">Client last name</label>
                        <input type="text" class="form-control" id="ClientSecondName" name="ClientSecondName" required />
                    </div>
                    <div class="form-group">
                        <label for="ToolID">Tool</label>
                        <select id="ToolID" name="ToolID" class="form-control" required>
                          
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="DateReservationFrom">Reservation start date</label>
                        <input type="date" class="form-control" id="DateReservationFrom" name="DateReservationFrom" required />
                    </div>
                    <div class="form-group">
                        <label for="DateReservationTo">Reservation end date</label>
                        <input type="date" class="form-control" id="DateReservationTo" name="DateReservationTo" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Open popup
            $('#createReservationBtn').on('click', function () {
                $('#toolReservationModal').modal('show');
                loadToolsDropdown(1);
            });

            // Edit button
            $('.editReservationBtn').on('click', function () {
                var id = $(this).data('id');
                var clientFirstName = $(this).data('clientfirstname');
                var clientSecondName = $(this).data('clientsecondname');
                var dateFrom = $(this).data('datereservationfrom');
                var dateTo = $(this).data('datereservationto');
                var toolID = $(this).data('toolid');
                
                $('#ReservationID').val(id);
                $('#ClientFirstName').val(clientFirstName);
                $('#ClientSecondName').val(clientSecondName);
                $('#DateReservationFrom').val(dateFrom);
                $('#DateReservationTo').val(dateTo);
                $('#ToolID').val(toolID);

                // popup show
                $('#toolReservationModal').modal('show');
                loadToolsDropdown(1);  
            });

            // Form submit 
            $('#toolReservationForm').on('submit', function (e) {
                e.preventDefault();

                var formData = $(this).serialize();
                var formAction = ($('#ReservationID').val() == '') ? '/ToolReservations/Create' : '/ToolReservations/Edit'; 

                $.ajax({
                    type: 'POST',
                    url: formAction,
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();  
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (response) {
                        alert('Error while saving occured !');
                    }
                });
            });

            // pagination
            function loadToolsDropdown(pageNumber) {
                $.get('/ToolReservations/GetToolsForDropdown', { pageNumber: pageNumber, pageSize: 10 }, function (tools) {
                    var $toolSelect = $('#ToolID');
                    $toolSelect.empty();
                    tools.forEach(function (tool) {
                        $toolSelect.append(new Option(tool.ToolType, tool.ID));
                    });
                });
            }
        });
    </script>
}